name: VueJSToDo-tests

on:
  push:
    branches:
      - master

jobs:
  Tests:
    runs-on: ubuntu-latest

    name: Run UI Tests
    steps:
      - uses: actions/checkout@v1

      - name: Set up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14

      - name: Download and cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run tests
        run: mvn clean verify -Dbrowser=chrome -Denv=preprod -Dcucumber.filter.tags=@Functional_tests

    #  - name: Collect & Upload Test Reports
    #    if: always()
    #    uses: actions/upload-artifact@v1
    #    with:
     #     name: test_reports
      #    path: ./target/cucumber-ExtendedReports
      # - name: Email Test Reports
      #   if: always()
      #   run: |
      #     bash ./sendmail.sh -s "UI Test Report" -f ssannidhi@palo-it.com -r ssannidhi@palo-it.com -b "UI Test Report" -a ./target/cucumber-ExtendedReports/report.html
